asgiref==3.9.1
certifi==2025.4.26
charset-normalizer==3.4.2
distlib==0.3.9
Django==4.2.23
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.18.0
idna==3.10
packaging==25.0
pipenv==2025.0.3
platformdirs==4.3.8
psycopg2-binary==2.9.10
PyJWT==2.10.1
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.5.0
virtualenv==20.31.2
