<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}-{% endblock %} - Blueray Cargo</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 text-gray-900 flex items-center h-screen justify-center">

    <div class="w-[30%] p-6 rounded-lg bg-white shadow-lg text-center">
        {% block content %}
        <!-- Konten halaman akan dimasukkan di sini -->
        {% endblock %}
    </div>
</body>
</html>